<nav class="container">
  <div class="header-logo">
    <img
      src="../../../assets/matflix-logo.png"
      alt="Matflix logo"
      routerLink=""
    />
  </div>

  <ul class="header-links">
    <span>{{ this.loggedInUser?.email }}</span>
    @if (!this.loggedInUser && !shouldRenderContent()) {
    <button
      class="mat-button"
      routerLink="/login"
      routerLinkActive="router-link-active"
    >
      Sign in
    </button>
    } @else if (this.loggedInUser ) {
    <button class="mat-button sign-out" (click)="onSignOut()">Sign out</button>
    }
  </ul>
</nav>
