<nav class="container">
  <div class="header-logo">
    <img
      src="../../../assets/matflix-logo.png"
      alt="Matflix logo"
      routerLink=""
    />
  </div>

  <div class="header-actions">
    <div *ngIf="shouldRenderMovieSearch()" class="search-container">
      <input
        class="search-movie-input"
        type="text"
        #input
        placeholder="Movie name"
        (keyup.enter)="searchMovie(input.value)"
      />
      <button (click)="searchMovie(input.value)" class="mat-button">
        Search
      </button>
    </div>

    <div class="info-actions-wrapper">
      <div class="info-container" *ngIf="this.loggedInUser">
        <span
          >Welcome,
          {{
            this.loggedInUser.displayName
              ? this.loggedInUser.displayName.split(" ").slice(0, -1)
              : this.loggedInUser.email
          }}</span
        >
        <img
          *ngIf="this.loggedInUser.photoURL"
          [src]="loggedInUser.photoURL"
          alt="User photo"
        />
      </div>

      <div class="actions-container">
        @if (!this.loggedInUser && !shouldRenderActions()) {
        <button
          class="mat-button"
          routerLink="/login"
          routerLinkActive="router-link-active"
        >
          Sign in
        </button>
        } @else if (this.loggedInUser) {
        <button class="mat-button sign-out" (click)="onSignOut()">
          Sign out
        </button>
        }
      </div>
    </div>
  </div>
</nav>
