<nav class="container">
  <div class="header-logo">
    <img
      src="../../../assets/matflix-logo.png"
      alt="Matflix logo"
      routerLink=""
    />
  </div>

  <div *ngIf="!shouldRenderActions()" class="header-actions">
    <div *ngIf="shouldRenderMediaSearch()" class="search-container">
      <input
        class="search-media-input"
        type="text"
        #input
        [placeholder]="getPlaceholderText()"
        (keyup.enter)="searchMedia(input.value)"
        [value]="getSerachedMediaVlaue()"
      />
      <button (click)="searchMedia(input.value)" class="mat-button">
        <fa-icon [icon]="faMagnifyingGlass"></fa-icon>
      </button>
    </div>

    @if (isMoviesOrTvShowsPage()) {
    <button (click)="navigateToMoviesOrTvShows()" class="mat-button">
      {{ getNavBtnText() }}
    </button>
    }

    <div class="info-actions-wrapper">
      <div class="info-container" *ngIf="this.loggedInUser">
        <span
          >Welcome,
          {{
            this.loggedInUser.displayName
              ? this.loggedInUser.displayName.split(" ").slice(0, -1)
              : this.loggedInUser.email
          }}</span
        >
        <img
          *ngIf="this.loggedInUser.photoURL"
          [src]="loggedInUser.photoURL"
          alt="User photo"
        />
      </div>

      <div class="actions-container">
        @if (!this.loggedInUser && !shouldRenderActions()) {
        <button
          class="mat-button"
          routerLink="/login"
          routerLinkActive="router-link-active"
        >
          Sign in
        </button>
        } @else if (this.loggedInUser) {
        <button class="mat-button sign-out" (click)="onSignOut()">
          Sign out
        </button>
        }
      </div>
    </div>
  </div>
</nav>
