.mat-login {
  display: flex;
  flex-direction: column;
  flex: 1;
  height: 100vh;
  background: linear-gradient(rgba(0, 0, 0, 0.7), rgba(0, 0, 0, 0.7)),
    url("../../assets/hero-background.png") no-repeat center center / cover;
  color: white;

  .login-card {
    background-color: rgba(0, 0, 0, 0.7);
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    margin: 50px auto;
    height: fit-content;
    padding: 30px;
    border-radius: 1em;
    width: 100%;
    max-width: 450px;

    h1 {
      margin-bottom: 1em;
    }

    .google-btn {
      display: flex;
      align-items: center;
      border-radius: 0.3rem;
      font-weight: 600;
      font-size: 0.93em;
      min-width: 220px;
      height: 40px;
      cursor: pointer;
      outline: none;
      border: none;

      img {
        width: 40px;
        margin: 0px 10px;
      }
    }

    .login-form-wrapper {
      display: flex;
      width: 100%;
      align-items: center;
      flex-direction: column;

      .login-form {
        flex-direction: column;
        width: 100%;
        padding: 0px 20px;
        gap: 16px;
        align-items: center;

        .mat-button {
          font-size: 16px;
          font-weight: 500;
          width: 100%;
          justify-content: center;
          margin: 0px;
          min-height: 40px;
        }

        .http-error {
          position: relative;
          bottom: 0px;
        }
      }

      p {
        margin: 7px 0px;
        color: rgba(255, 255, 255, 0.7);
      }

      a {
        color: $color-white;
        text-decoration: none;
        font-weight: 600;

        &:hover {
          text-decoration: underline;
        }
      }

      @media (max-width: 991px) {
        padding: 0px;
      }
    }
  }
}
