.mat-login {
  display: flex;
  flex: 1;
  height: 100vh;
  background: linear-gradient(rgba(0, 0, 0, 0.7), rgba(0, 0, 0, 0.7)),
    url("../../assets/hero-background.png") no-repeat center center / cover;
  color: white;

  .login-card {
    background-color: rgba(0, 0, 0, 0.75);
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    margin: 0 auto;
    min-height: 515px;
    min-width: 350px;
    padding: 20px 0 30px;
    border-radius: 1em;

    button {
      display: flex;
      align-items: center;
      margin: 2em;
      border-radius: 0.3rem;
      font-weight: 600;
      font-size: 0.93em;
      min-width: 235px;
      height: 50px;
      cursor: pointer;
      outline: none;
      border: none;

      img {
        width: 50px;
        margin-right: 15px;
      }
    }
  }
}
