.mat-movies {
  height: 100vh;
  overflow: hidden;

  .mat-slider-wrapper {
    margin-top: 30px;
    margin-left: 10%;
    overflow: hidden;
  }

  h3 {
    color: $color-white;
    position: absolute;
    top: 0px;
  }

  .mat-slider {
    max-width: 1200px;
    overflow: visible;
    padding-top: 30px;

    .mat-slide {
      display: flex;
      flex-direction: column;
      justify-content: end;
      border-radius: 1em;
      padding: 10px;
      background-size: cover;
      background-position: center;
      background-repeat: no-repeat;
      height: 300px;

      .slide-title {
        padding: 10px;
        display: flex;
        text-align: center;
        border-radius: 10px;
        background-color: rgba(0, 0, 0, 0.5);
      }
    }
  }
}

@media screen and (max-width: 700px) {
  .mat-slider-wrapper {
    margin-left: 5% !important;
  }
}
