<div class="landing-text">
  <h1>Unlimited movies, TV shows, and more</h1>
  <p>Watch anywhere. Cancel anytime.</p>
</div>

@if (this.authService.isLoggedIn()) {

<div class="landing-actions">
  <button class="mat-button browse-btn" routerLink="/movies">Movies</button>

  <button class="mat-button browse-btn" routerLink="/tv-shows">TV Shows</button>
</div>

} @else {
<div class="landing-form-wrapper">
  <h3>Ready to watch? Enter your email and password to create account.</h3>
  <form
    class="landing-form"
    [formGroup]="registrationForm"
    (ngSubmit)="onSubmit()"
  >
    <div class="email-wrapper">
      <input type="email" formControlName="email" placeholder="Enter email" />
      <div
        *ngIf="
          registrationForm.get('email')?.invalid &&
          (registrationForm.get('email')?.dirty ||
            registrationForm.get('email')?.touched)
        "
      >
        <small
          class="error"
          *ngIf="registrationForm.get('email')?.errors?.['required']"
          >Email is required</small
        >
        <small
          class="error"
          *ngIf="registrationForm.get('email')?.errors?.['email']"
          >Invalid email format</small
        >
      </div>
    </div>

    <div class="password-wrapper">
      <input
        type="password"
        formControlName="password"
        placeholder="Enter password"
      />
      <div
        *ngIf="
          registrationForm.get('password')?.invalid &&
          (registrationForm.get('password')?.dirty ||
            registrationForm.get('password')?.touched)
        "
      >
        <small
          class="error"
          *ngIf="registrationForm.get('password')?.errors?.['required']"
          >Password is required</small
        >
        <small
          class="error"
          *ngIf="registrationForm.get('password')?.errors?.['minlength']"
          >Password must be at least 6 characters long</small
        >
      </div>
    </div>

    <button
      type="submit"
      class="mat-button"
      [disabled]="registrationForm.invalid"
    >
      Sign Up
    </button>
    <div *ngIf="errorMessage" class="http-error">
      {{ errorMessage }}
    </div>
  </form>
</div>

}
