.matflix-header {
  display: flex;
  justify-content: center;
  color: $color-primary;

  .container {
    display: flex;
    flex-wrap: wrap;
    gap: 20px;
    justify-content: center;
    align-items: center;
    padding: 1.5rem 1rem;
    max-width: 3000px;
  }

  .header-logo {
    display: flex;
    align-items: center;
    cursor: pointer;
    margin: 0 auto;
    img {
      width: 10rem;
    }

    @include responsive {
      img {
        width: 8rem;
      }
    }
  }

  .header-actions {
    display: flex;
    align-items: center;
    gap: 1em;
    font-weight: bold;
    font-size: 0.9rem;
    margin: 0 auto;

    & span {
      font-size: 0.9rem;
      color: $color-white;
      word-break: break-word;
      text-wrap: wrap;
    }

    & img {
      border-radius: 50%;
      width: 35px;
    }

    & button {
      font-weight: bold;
      text-wrap: nowrap;
    }
  }
}
