.matflix-header {
  display: flex;
  justify-content: center;
  color: $color-primary;

  .container {
    display: flex;
    justify-content: space-between;
    align-items: center;
    padding: 1.5rem 3rem;
  }

  .header-logo {
    cursor: pointer;
    img {
      width: 6.5rem;
    }
  }

  .header-actions {
    display: flex;
    align-items: center;
    gap: 1em;
    font-weight: bold;
    font-size: 0.9rem;

    & span {
      font-size: 0.9rem;
      color: $color-white;
    }

    & img {
      border-radius: 50%;
      width: 35px;
    }

    & button {
      font-weight: bold;
    }
  }
}
